<footer>
    <div class="fotter-area d-dark-bg">
        <div class="footer__top pt-80 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 order-last-md">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Customer Care</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="faq.html">New Customers</a></li>
                                                <li><a href="faq.html">How to use Account</a></li>
                                                <li><a href="faq.html">Placing an Order</a></li>
                                                <li><a href="faq.html">Payment Methods</a></li>
                                                <li><a href="faq.html">Delivery &amp; Dispatch</a></li>
                                                <li><a href="faq.html">Problems with Order</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Customer Service</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="faq.html">Help Center</a></li>
                                                <li><a href="faq.html">Contact Us</a></li>
                                                <li><a href="faq.html">Report Abuse</a></li>
                                                <li><a href="faq.html">Submit a Dispute</a></li>
                                                <li><a href="faq.html">Policies &amp; Rules</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8 order-first-md">
                        <div class="footer__top-left">
                            <div class="row">
                                
                                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                                    <div class="row">
                                        
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="footer__widget">
                                                <div class="footer__widget-title">
                                                    <h4>My Account</h4>
                                                </div>
                                                <div class="footer__widget-content">
                                                    <div class="footer__link">
                                                        <ul>
                                                            <li><a href="faq.html">Product Support</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="cart.html">Shopping Cart</a></li>
                                                            <li><a href="wishlist.html">Wishlist</a></li>
                                                            <li><a href="faq.html">Terms &amp; Conditions &amp;</a></li>
                                                            <li><a href="faq.html">Redeem Voucher</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Quick Links</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="contact.html">Store Location</a></li>
                                                <li><a href="my-account.html">My account</a></li>
                                                <li><a href="contact.html">Order Tracking</a></li>
                                                <li><a href="faq.html">FAQs</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                                </div><div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title mb-20">
                                            <h4>Navigation</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <app-nav [classToStyle]="'main-menu2'"></app-nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-content">
                    <div class="row">
                        <div class="col-xl-12 text-white text-center p-4">
                            <small>Uroš Dimitrijević 188/19 Copyright <script>document.write(new Date().getFullYear());</script></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </footer>