<div class="container">
    <div class="row">
        <div class="authorContainer col-12 col-md-5">
            <img src="../../../assets/img/author/author.jpeg" alt="author" class="img-fluid text-center"/>
        </div>
        <div class="infoContainer col-12 col-md-5">
            <h1 class="text-center">About Author</h1>
            <p class="h4">
                My name is Uroš Dimitrijević, and I am a third year student at the College of Information and Communication Technologies in Belgrade, in the web programming module. I was born in Gornji Milanovac and I finished high school in Čačak. I am constantly looking to improve and I try to learn as much as possible.
            </p>
        </div>
    </div>
</div>