<div class="header__search">
        <form action="#">
            <div class="header__search-box">
                <input class="search-input" type="text" placeholder="I'm shopping for...">
                <button class="button" type="submit"><i class="far fa-search"></i></button>
            </div>
            <div class="header__search-cat">
                <select>
                    <ng-container *ngFor="let o of allCategories">
                        <option [value]="o.name">{{o.name}}</option>
                    </ng-container>
                </select>
            </div>
        </form>
    </div>