<ng-template #modal>
    <div class="modal-header">
      <h5 class="modal-title text-center h3">{{product.data.name}}</h5>
    </div>
    <div class="modal-body">
        <div *appCompile="product.data.content;context:{data:data}" [innerHTML]="product.data.content">

        </div>
        <div class="product__modal-img w-img w-50 m-auto">
            <img src="{{path+product.data.imagesFileName[0]}}" alt="{{product.data.imagesFileName[0]}}">
        </div>
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
            <div class="product__modal-content">
                <div class="product__review d-sm-flex">
                    <div class="rating rating__shop mb-10 mr-30">
                    <ul>
                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                    </ul>
                    </div>
                    <div class="product__add-review mb-15">
                    <span>01 review</span>
                    </div>
                </div>
                <div class="product__price">
                    <span>{{product.data.price | currency }}</span>
                </div>
                <div class="product__modal-des mt-20 mb-15">
                    <ul>
                        <li><a href="#"><i class="fas fa-circle"></i> Bass and Stereo Sound.</a></li>
                        <li><a href="#"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a></li>
                        <li><a href="#"><i class="fas fa-circle"></i> Memory, Storage & SIM: 12GB RAM, 256GB.</a></li>
                        <li><a href="#"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn text-center btn-moje" (click)="addToCart()">Add to cart</button>
      <button type="button"></button>
    </div>
  </ng-template>