<section class="features__area pt-20">
    <div class="container">
        <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
            <ng-container *ngFor="let a of info">
                <div class="col" >
                    <div class="features__item d-flex white-bg">
                        <div class="features__icon mr-20">
                            <i [class]="a.icon"></i>
                        </div>
                        <div class="features__content">
                            <h6>{{a.name | uppercase}}</h6>
                            <p>{{a.desc}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
         
        </div>
    </div>
</section>